<div class="component">
    <header>
      <span class="page-title">User Edit</span>
      <span> | <a routerLink='/users/list'>Back to list</a></span>
    </header>
    <div class="container" *ngIf="user">
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Id</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.Id" class="form-control" type="text" name="Id" #id="ngModel" required>
        </div>
        <div *ngIf="id.invalid && id.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="id?.errors.required">Required</label>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Username</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.UserName" class="form-control"
              type="text" name="UserName" #username="ngModel" required>
        </div>
        <div *ngIf="username.invalid && username.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="username?.errors.required">Required</label>
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Password</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.Password" class="form-control"
              type="password" name="Password" #password="ngModel" required>
        </div>
        <div *ngIf="password.invalid && password.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="password?.errors.required">Required</label>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">First Name</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.FirstName" class="form-control"
              type="text" name="FirstName" #firstname="ngModel" required>
        </div>
        <div *ngIf="firstname.invalid && firstname.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="firstname?.errors.required">Required</label>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Last Name</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.LastName" class="form-control"
              type="text" name="LastName" #lastname="ngModel" required>
        </div>
        <div *ngIf="lastname.invalid && lastname.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="lastname?.errors.required">Required</label>
        </div>
      </div>    
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Phone Number</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.Phone" class="form-control"
              type="text" name="Phone" #phone="ngModel" required>
        </div>
        <div *ngIf="phone.invalid && phone.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="phone?.errors.required">Required</label>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.Email" class="form-control"
              type="text" name="Email" #email="ngModel" required>
        </div>
        <div *ngIf="email.invalid && email.touched"
            class="col-form-label col-sm-2 text-danger">
          <label *ngIf="email?.errors.required">Required</label>
        </div>
      </div>
            
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Reviewer</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.isReviewer" class="form-control"
              type="checkbox" name="isReviewer">
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-form-label col-sm-2">Admin</label>
        <div class="col-sm-8">
          <input [(ngModel)]="user.isAdmin" class="form-control"
              type="checkbox" name="isAdmin" >
        </div>
      </div>
      <div>
        <button class="btn btn-primary" (click)="save()">Save</button>
      </div>
    </div>
  </div>
  